4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/DesignTimeBuild/.dtbcache
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/.suo
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/Server/sqlite3/db.lock
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/Server/sqlite3/storage.ide
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/Server/sqlite3/storage.ide-shm
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/Server/sqlite3/storage.ide-wal
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/TodoList.Desktop.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/TodoList.Desktop.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/TodoList.Desktop.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/App.g.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/App.g.i.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop_MarkupCompile.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop_MarkupCompile.i.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop_MarkupCompile.i.lref
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop_MarkupCompile.lref
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.csprojAssemblyReference.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/View/MainWindow.g.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Desktop/obj/Debug/netcoreapp3.1/View/MainWindow.g.i.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/.vs/TodoList/DesignTimeBuild/.dtbcache.v2
4_félév/waf/Gyakorlat/elte_waf_gy05/.vs/TodoList/v16/.suo
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/TodoList.Persistence.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/TodoList.Persistence.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/TodoList.Persistence.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/Debug/netstandard2.1/TodoList.Persistence.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/Debug/netstandard2.1/TodoList.Persistence.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/Debug/netstandard2.1/TodoList.Persistence.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Persistence/obj/Debug/netstandard2.1/TodoList.Persistence.csprojAssemblyReference.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/TodoList.Web.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/TodoList.Web.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/TodoList.Web.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.csprojAssemblyReference.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.RazorAssemblyInfo.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.RazorAssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/TodoList.WebApi.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/TodoList.WebApi.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/TodoList.WebApi.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/Debug/netcoreapp3.1/TodoList.WebApi.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/Debug/netcoreapp3.1/TodoList.WebApi.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/Debug/netcoreapp3.1/TodoList.WebApi.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy05/TodoList.WebApi/obj/Debug/netcoreapp3.1/TodoList.WebApi.csprojAssemblyReference.cache
3_félév/eva/Gyakorlat/elte_eva_gy13/TodoList/.vs/TodoList/v16/.suo
4_félév/waf/Előadás/TravelAgency_01_model/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.csprojAssemblyReference.cache
4_félév/waf/Előadás/TravelAgency_10_auth/.vs/TravelAgency/v16/.suo
4_félév/waf/Előadás/TravelAgency_12_test/.vs/TravelAgency/DesignTimeBuild/.dtbcache.v2
4_félév/waf/Előadás/TravelAgency_12_test/.vs/TravelAgency/config/applicationhost.config
4_félév/waf/Előadás/TravelAgency_12_test/.vs/TravelAgency/v16/.suo
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/project.assets.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/project.nuget.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/TravelAgency.Admin.csproj.nuget.dgspec.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/TravelAgency.Admin.csproj.nuget.g.props
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/TravelAgency.Admin.csproj.nuget.g.targets
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/App.g.i.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.i.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/TravelAgency.Admin_MarkupCompile.i.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/TravelAgency.Admin_MarkupCompile.i.lref
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/TravelAgency.Admin.AssemblyInfo.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/TravelAgency.Admin.AssemblyInfoInputs.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/TravelAgency.Admin.assets.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/TravelAgency.Admin.csprojAssemblyReference.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/View/BuildingEditorWindow.g.i.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/View/LoginWindow.g.i.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Admin/obj/Debug/netcoreapp3.1/View/MainWindow.g.i.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/project.assets.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/project.nuget.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/TravelAgency.Data.csproj.nuget.dgspec.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/TravelAgency.Data.csproj.nuget.g.props
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/TravelAgency.Data.csproj.nuget.g.targets
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/Debug/netstandard2.0/TravelAgency.Data.AssemblyInfo.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/Debug/netstandard2.0/TravelAgency.Data.AssemblyInfoInputs.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/Debug/netstandard2.0/TravelAgency.Data.assets.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Data/obj/Debug/netstandard2.0/TravelAgency.Data.csprojAssemblyReference.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/project.assets.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/project.nuget.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/TravelAgency.Model.csproj.nuget.dgspec.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/TravelAgency.Model.csproj.nuget.g.props
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/TravelAgency.Model.csproj.nuget.g.targets
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/Debug/netcoreapp3.1/TravelAgency.Model.AssemblyInfo.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/Debug/netcoreapp3.1/TravelAgency.Model.AssemblyInfoInputs.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/Debug/netcoreapp3.1/TravelAgency.Model.assets.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Model/obj/Debug/netcoreapp3.1/TravelAgency.Model.csprojAssemblyReference.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/project.assets.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/project.nuget.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/TravelAgency.Service.Test.csproj.nuget.dgspec.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/TravelAgency.Service.Test.csproj.nuget.g.props
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/TravelAgency.Service.Test.csproj.nuget.g.targets
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/Debug/netcoreapp3.1/TravelAgency.Service.Test.AssemblyInfo.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/Debug/netcoreapp3.1/TravelAgency.Service.Test.AssemblyInfoInputs.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/Debug/netcoreapp3.1/TravelAgency.Service.Test.assets.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service.Test/obj/Debug/netcoreapp3.1/TravelAgency.Service.Test.csprojAssemblyReference.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/project.assets.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/project.nuget.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/TravelAgency.Web.csproj.nuget.dgspec.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/TravelAgency.Web.csproj.nuget.g.props
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/TravelAgency.Web.csproj.nuget.g.targets
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.AssemblyInfo.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.AssemblyInfoInputs.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.assets.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.csprojAssemblyReference.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.RazorAssemblyInfo.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.RazorAssemblyInfo.cs
.gitignore
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/project.assets.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/project.nuget.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/TravelAgency.Service.csproj.nuget.dgspec.json
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/TravelAgency.Service.csproj.nuget.g.props
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/TravelAgency.Service.csproj.nuget.g.targets
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/Debug/netcoreapp3.1/TravelAgency.Service.AssemblyInfo.cs
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/Debug/netcoreapp3.1/TravelAgency.Service.AssemblyInfoInputs.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/Debug/netcoreapp3.1/TravelAgency.Service.assets.cache
4_félév/waf/Előadás/TravelAgency_12_test/TravelAgency.Service/obj/Debug/netcoreapp3.1/TravelAgency.Service.csprojAssemblyReference.cache
4_félév/waf/Előadás/TravelAgency_10_auth/.vs/TravelAgency/v16/.suo
4_félév/waf/Előadás/TravelAgency_01_model/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.csprojAssemblyReference.cache
4_félév/waf/Előadás/TravelAgency_10_auth/.vs/TravelAgency/v16/.suo
4_félév/waf/Előadás/TravelAgency_01_model/TravelAgency.Web/obj/Debug/netcoreapp3.1/TravelAgency.Web.csprojAssemblyReference.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/.vs/TodoList/DesignTimeBuild/.dtbcache.v2
4_félév/waf/Gyakorlat/elte_waf_gy06/.vs/TodoList/v16/.suo
4_félév/waf/Gyakorlat/elte_waf_gy06/.vs/TodoList/v16/TestStore/0/000.testlog
4_félév/waf/Gyakorlat/elte_waf_gy06/.vs/TodoList/v16/TestStore/0/testlog.manifest
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/TodoList.Desktop.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/TodoList.Desktop.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/TodoList.Desktop.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/App.g.i.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.i.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop_MarkupCompile.i.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop_MarkupCompile.i.lref
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.csprojAssemblyReference.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.designer.deps.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/TodoList.Desktop.designer.runtimeconfig.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/View/ItemEditorWindow.g.i.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/View/LoginWindow.g.i.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Desktop/obj/Debug/netcoreapp3.1/View/MainWindow.g.i.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/TodoList.Persistence.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/TodoList.Persistence.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/TodoList.Persistence.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/Debug/netstandard2.1/TodoList.Persistence.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/Debug/netstandard2.1/TodoList.Persistence.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/Debug/netstandard2.1/TodoList.Persistence.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Persistence/obj/Debug/netstandard2.1/TodoList.Persistence.csprojAssemblyReference.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/TodoList.Web.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/TodoList.Web.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/TodoList.Web.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.csprojAssemblyReference.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.RazorAssemblyInfo.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.Web/obj/Debug/netcoreapp3.1/TodoList.Web.RazorAssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/TodoList.WebApi.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/TodoList.WebApi.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/TodoList.WebApi.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/Debug/netcoreapp3.1/TodoList.WebApi.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/Debug/netcoreapp3.1/TodoList.WebApi.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/Debug/netcoreapp3.1/TodoList.WebApi.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi/obj/Debug/netcoreapp3.1/TodoList.WebApi.csprojAssemblyReference.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/project.assets.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/project.nuget.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/TodoList.WebApi.Tests.csproj.nuget.dgspec.json
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/TodoList.WebApi.Tests.csproj.nuget.g.props
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/TodoList.WebApi.Tests.csproj.nuget.g.targets
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/Debug/netcoreapp3.1/TodoList.WebApi.Tests.AssemblyInfo.cs
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/Debug/netcoreapp3.1/TodoList.WebApi.Tests.AssemblyInfoInputs.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/Debug/netcoreapp3.1/TodoList.WebApi.Tests.assets.cache
4_félév/waf/Gyakorlat/elte_waf_gy06/TodoList.WebApi.Tests/obj/Debug/netcoreapp3.1/TodoList.WebApi.Tests.csprojAssemblyReference.cache
