4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/DesignTimeBuild/.dtbcache
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/.suo
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/Server/sqlite3/db.lock
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/Server/sqlite3/storage.ide
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/Server/sqlite3/storage.ide-shm
4_félév/waf/Előadás/TravelAgency_06_auth/.vs/TravelAgency/v16/Server/sqlite3/storage.ide-wal
