@using ELTE.TravelAgency.Model;

@model RentViewModel

<div class="contentHead">A foglalását sikeresen rögzítettük!</div>

<div class="content">A foglalás teljes összege: <strong>@Model.TotalPrice</strong> EUR.</div>